
.container_note{
  background-image: url('https://7072-prod-7gbkokc9486b1064-1323457422.tcb.qcloud.la/pic/no.png?sign=76195763d121e2319e14b0bfc1ad290d&t=1707984133');
  //url('../../assets/pic/tb_note.png');
  background-size: cover; /* 设置背景图片覆盖整个元素 */
  background-attachment: scroll; /* 设置背景图片固定，不随页面滚动 */
  background-repeat: no-repeat; /* 不重复显示图片 */
  width: 100vw; /* 设置宽度为视口宽度，确保图片覆盖整个屏幕 */
  height: 100vh; /* 设置高度为视口高度，确保图片覆盖整个屏幕 */
  margin: 0; /* 移除外边距 */
  padding: 0; /* 移除内边距 */
}

.container_music{
  background-image: url('https://7072-prod-7gbkokc9486b1064-1323457422.tcb.qcloud.la/pic/mu.png?sign=da33b511606d016a9616c22f85220c0c&t=1707998163');
  background-size: cover; /* 设置背景图片覆盖整个元素 */
  background-attachment: scroll; /* 设置背景图片固定，不随页面滚动 */
  background-repeat: no-repeat; /* 不重复显示图片 */
  width: 100vw; /* 设置宽度为视口宽度，确保图片覆盖整个屏幕 */
  height: 100vh; /* 设置高度为视口高度，确保图片覆盖整个屏幕 */
  margin: 0; /* 移除外边距 */
  padding: 0; /* 移除内边距 */
}

.container_film{
  background-image: url('https://7072-prod-7gbkokc9486b1064-1323457422.tcb.qcloud.la/pic/mo.png?sign=97d4fa360121f3e28147f3533ea1fc86&t=1707998131');
  background-size: cover; /* 设置背景图片覆盖整个元素 */
  background-attachment: scroll; /* 设置背景图片固定，不随页面滚动 */
  background-repeat: no-repeat; /* 不重复显示图片 */
  width: 100vw; /* 设置宽度为视口宽度，确保图片覆盖整个屏幕 */
  height: 100vh; /* 设置高度为视口高度，确保图片覆盖整个屏幕 */
  margin: 0; /* 移除外边距 */
  padding: 0; /* 移除内边距 */
}

.container_book{
  background-image: url('https://7072-prod-7gbkokc9486b1064-1323457422.tcb.qcloud.la/pic/bo.png?sign=d545caea20d340ac3ee5b62fb6e8cb5b&t=1707998190');
  background-size: cover; /* 设置背景图片覆盖整个元素 */
  background-attachment: scroll; /* 设置背景图片固定，不随页面滚动 */
  background-repeat: no-repeat; /* 不重复显示图片 */
  width: 100vw; /* 设置宽度为视口宽度，确保图片覆盖整个屏幕 */
  height: 100vh; /* 设置高度为视口高度，确保图片覆盖整个屏幕 */
  margin: 0; /* 移除外边距 */
  padding: 0; /* 移除内边距 */
}

.container_todo{
background-image: url('https://7072-prod-7gbkokc9486b1064-1323457422.tcb.qcloud.la/pic/to.png?sign=349a30913fe4651f76684f71d708a935&t=1707984108');
//url('../../assets/pic/tb_note.png');
background-size: cover; /* 设置背景图片覆盖整个元素 */
background-attachment: scroll; /* 设置背景图片固定，不随页面滚动 */
background-repeat: no-repeat; /* 不重复显示图片 */
width: 100vw; /* 设置宽度为视口宽度，确保图片覆盖整个屏幕 */
height: 100vh; /* 设置高度为视口高度，确保图片覆盖整个屏幕 */
margin: 0; /* 移除外边距 */
padding: 0; /* 移除内边距 */
}

.star{
  background-image: url('../../assets/icon/star.png');
}

.c_title {
  padding-top: 5%;
  padding-inline: 15%;
  display: flex;
}

.c_content {
  padding-inline: 15%;
  padding-top: 10px;
  border-radius: 10%;
}

.c_picker {
  padding-inline: 15%;
  display: flex;
  padding-bottom: 20px;
}

.c_date {
  position: fixed;
  left: 5%;
  bottom: 20%;
}

.c_footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col_container {
  width: 98%;
  display: flex;
}

.col1{
color: #f3eeea;
font-size: xx-small;
display: flex;
align-items:start;
flex: 7;
justify-content: left;
//border: 1px solid black;
}
.col2{
display: flex;
align-items: center;
font-size: xx-small;
color: #f3eeea;
flex: 1;
justify-content: center;
//border: 1px solid black;
}
.cold1{
color: #b39879;
font-size: xx-small;
display: flex;
align-items:start;
flex: 5;
justify-content: left;
padding-left: 5%;
//border: 1px solid black;
}
.cold2{
display: flex;
align-items: center;
font-size: xx-small;
color: #9a7549;
flex: 1;
justify-content: center;
//border: 1px solid black;
}
.c_paddingtop{
padding-top: 20px;
}
.c_paddingbottom{
padding-top: 20px;
}
.c_paddingleft{
padding-left: 20px;
}
.c_icon{
height: 5px;
width: 5px;
}

.c_header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  background-color: #5D6FBB;
  color: #f3eeea;
}

.c_body{
  width: 100%;
  position: fixed;
  top: 20%;
}

.c_icon_star{
  height: 60%;
  width: 50%;
}
.c_icon_lock{
  height: 60%;
  width: 60%;
}
.c_icon_to{
  height: 40%;
  width: 60%;
}
.c_icon_like{
  height: 90%;
  width: 50%;
}
.c_icon_delete{
  height: 60%;
  width: 60%;
}

.c_switcher{
padding-top: 15%;
border-end-end-radius: 8%;
}

.c_icon_done{
height: 80%;
width: 40%;
}

.c_textarea{
background-color: #fafafa;
border-radius: 10px;
}