// searchPage.scss  

.search-container {  
  padding: 20px;  
  
  .search-bar {  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    padding: 8px; 
    border-radius: 20px;  
    overflow: hidden;  
    background-color: #f2f2f2;  
  
    input {  
      flex: 1;  
      padding: 5px;  
      border: none;  
      outline: none;  
      border-radius: 20px;  
      height: 20px; /* 压缩搜索框的高度 */  
      font-size: 35px; /* 调整字体大小 */  
    }  
  
    button {  
      display: flex; 
      align-items: center; 
      justify-content: center;
      padding: 8px 20px;  
      background-color: #5d6fbb;  
      color: #fff;  
      border: none;  
      border-radius: 20px;  
      cursor: pointer;  
      transition: background-color 0.3s;  
      height: 50px;
      font-size: 30px; /* 调整字体大小 */
      margin-left: 10px;  
      &:hover {  
        background-color: #5d6fbb;  
      }  

      .DateSelect{
        font-size:10px;
      }
    }  
    .calendar-container {  
      position: relative;  
      margin-top: 10px;  
  
      .react-datepicker {  
        font-size: 14px; /* 设置日历中字体的大小 */  
      }  
    }  
  }  
  .favorites-section {  
    margin-top: 20px;  
  
    span {  
      font-size: 32px;  
      font-weight: bold; 
      color: #5d6fbb; 
    }  
  
    hr {  
      border: 0;  
      height: 1px;  
      background-color: #5d6fbb;  
      margin-top: 5px;  
    }  
  }  
  // 其他样式  
  .tagStyle {  
    margin: 10px 20px 0px 20px;  
    width: 180px;  
    height: 60px;  
    font-size: 28px;  
    text-align: center;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    border: 2px solid #5d6fbb;
    color:#5d6fbb;
  }  
  .moments {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}  
